@font-face {
   font-family: openSansCondensed;
   src: url("./fonts/OpenSansCondensed-Bold.ttf") format("truetype"),
}
@font-face {
   font-family: openSans;
   src: url("./fonts/OpenSans-Medium.ttf") format("truetype"),
 }
 @font-face {
   font-family: openSansHebrewCondensed;
   src: url("./fonts/OpenSansHebrewCondensed-Bold.ttf") format("truetype"),
 }